
/*************
*** @MEDIA ***
*************/
@media screen and (max-width: 600px) {
    .sidenav {
       display: none;       
    }
    body {
        width: 100%;
    }
    .main {
        margin: 0;
        padding: 10px;
    }
  
    .image-text {
        flex-flow: column;
    }
    .col-6 {
        width: 100% !important;
        height: 50vh;
        
    }
    .col-4 {
        width: 100%;
    }

}