
/**********************
***** SURPRISE ********
**********************/
.surprise {
    color: #2f4356;
    text-transform: uppercase;
    font-size: 180px; 
    text-align: center;
    width: 100%;
    background-color: #2f4356;    
    padding-top: 100px;
    transition: 1s;
    padding-left: 10px;
}
.surprise:hover {
    text-shadow: 3px 3px 3px white;
}

#surprise .row {
    height: 50vh;
    width: 100%;
    margin-right: 0;
    text-align: center;
}



/***** MAN statistics ****/
#statistics h3 {    
    font-size: 30px;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
}
.col-4 {
    margin: 0;
    padding: 0;
    width: 33%;
}
.people {
    margin-top: 30px;
}

.man-text {
    font-size: 22px;
    padding: 0 50px 10px 50px;
}

/***** STARKS *****/

.starks {
    font-size: 25px;   
    background-image: url(../image/stark-1.png);
    background-repeat: no-repeat;
    margin-left: 50px; 
    margin-top: 30px;
    display: inline-block
}

.big-red {
    color: #e74c3c;
    font-size: 70px;    
}

.bigger {
    font-size: 35px;
}

.stark-p {
    font-size: 22px;
}
.procent-games {
    float: right;
    margin-top: 110px !important;
    padding-right: 120px;
    line-height: 40px;
}

/********** Dragon *********/

.dragon img {
    width: 150px;
}
.dragon p {
    font-size: 22px;
    padding: 10px 50px;
}


/***************************
******** AUTHOR ************
***************************/

.author-text h1 {
    font-size: 40px;
    display: block;
    position: absolute;
    top: 50%;
    left: 35%;
}
.author-text p {
    font-size: 15px;
    position: absolute;
    top:60%;
    padding-left: 100px;
    padding-right: 100px;
}

.author-text {
    background-image: url(../image/author-text.jpeg);
    background-repeat:  no-repeat;
    background-size: cover; 
    position: relative;
    text-align: center;
}

.author-background-color  { 
    background-color: rgba(250,250, 250, 0.4);
    height: 100vh;
    width: 100%;
}

/****** CONTACT *****/
.contact {
    float: right;
    font-size: 30px;
}
.contact h3 {
    font-size: 50px;
    color: #e74c3c;
    font-weight: bold;
}

.media {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #2f4356;
    position: relative;
    margin-top: 50px !important;
    margin-left: 70px;
}

.media .fa-globe,
.media .fa-phone {
    color: white;
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 23%;
    transform: translateY(-50%);
}

.media .fa-facebook {
    color: white;
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
}

.media .fa-envelope {
    color: white;
    position: absolute;
    font-size: 50px;
    top: 49%;
    left: 20%;
    transform: translateY(-50%);
}

.contact a {
    float: right;
    margin: 70px;
}

/***********************
******** FOOTER ********
***********************/
footer {
    text-align: center;
    height: 50px;
    background-color: #2f4356;
    padding: 10px;
}
footer a {
    margin: 20px;
    color: black;
    
}

footer a:hover {
    color: #e74c3c;
    text-decoration: none;
}