/**
* nav background color, Story title color     : #2f4356;
* logo backgraund, titlte-what background,    : #e74c3c;
*
*
*/
/**********************
***** MAIN SECTION*****
**********************/
.main {
    margin-left: 160px;
}

body {
    width: 100%;
    font-family: "raleway";
}
#story,
#what,
#surprise,
#statistics,
#author {
    height: 100vh;  
}

.col-6 {
    width: 50%;    
    text-align: center;
    padding: 0; 
}

/***********************
***** SIDE NAVIGATOR ***
***********************/
.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2f4356;
    overflow-x: hidden;
    position: fixed;    
    overflow: hidden;
    box-shadow: 3px 3px 13px silver;   
}
 

.sidenav a {
    border-bottom: 2px solid white;
    padding: 25px;
    text-decoration: none;
    font-size: 13px;
    display: block;
    color: white;
    text-transform: uppercase; 
    text-align: center;
    letter-spacing: 1.5px;
}

.logo {
    height: 180px;
    background-color: #e74c3c;
    letter-spacing: 1.5px;
    font-size: 25px !important;
    padding-top: 40% !important;
    border-bottom: none !important;
}

.go {
    color: #2f4356;
    font-weight: bold;
}

.nav-height {
    height: calc(100% / 6);
}

.story-icon {
    font-size: 40px;
    color: white;
    margin: 15px auto;
}

/***************
***** STORY ****
***************/
.main {    
    height: 100vh; 
}
.image-text {
    float: right;
    background-image: url(../image/large.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
}

.text  { 
    background-color: rgba(49, 69, 89, 0.6);
    height: 100vh;
    width: 100%;
}

.text p {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 30%;  
    padding-left: 100px;
    padding-right: 100px;
}

.bold {
    font-weight: bold;
}

/****** Story Title ****/
.story-title {
    color: #2f4356;
    text-transform: uppercase;
    padding-top: 15%;
}

.story-title h1 {
    font-size: 80px;
    font-weight: 800;
}

.story-title p {
    padding-top: 30%;
    font-size: 20px;
}

/***********************
**** I.L.L.U..What?****
**********************/
.row {
    margin-right: 0;
}

.title-second {
    border: 1px solid silver;
    height: 180px;
    margin: 0 10px 0 0;
    background-color: #e74c3c;
    widows: 100%;
    color: white;
    text-align: center;
    padding-top: 60px;
    font-size: 50px;
    letter-spacing: 1.5px;    
}

.why {
    font-size: 50px;
    padding-top: 200px;
}

.why-text {
    padding: 20px 100px;
    font-size: 16px;
    line-height: 30px;
}

.red {
    color: #e74c3c;
}

.right {
    float: right;
    padding-right: 10px !important;
}

.img-eye {
    width: 400px;
    padding-top: 70px;
}

.big {
    font-size: 80px;
    text-transform: uppercase;
    margin: 20px 70px;
    line-height: 75px;
    color: black;
}
/*************
*** @MEDIA ***
*************/
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}