/**
* nav background color, Story title color     : #2f4356;
*
*
*
*/
body {
    width: 100vw;
    font-family: "raleway";
}
/***********************
***** SIDE NAVIGATOR ***
***********************/
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2f4356;
    overflow-x: hidden;
    padding-top: 20px;
   
}

.sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: white;
    text-transform: uppercase; 
}

.logo {
    height: 150px;
}

.nav-height {
    height: 15%;
}

/**********************
***** MAIN SECTION*****
**********************/
.main {
    margin-left: 160px;
    height: 100%;
    overflow: hidden;
}

/***************
***** STORY ****
***************/

.story-title,
.image-text {
    width: 50%;    
    text-align: center;
    height: 100vh;    
}

#story {
    height: 100%;    
    overflow: hidden;
}
.image-text {
    float: right;
    background-image: url(../image/large.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
}

.text  { 
    background-color: rgba(49, 69, 89, 0.6);
    height: 100vh;
}

.text p {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 30%;  
    padding-left: 100px;
    padding-right: 100px;
}

.bold {
    font-weight: bold;
}

/****** Story Title ****/
.story-title {
    color: #2f4356;
    text-transform: uppercase;
    padding-top: 15%;
}

.story-title h1 {
    font-size: 80px;
    font-weight: 800;
}

.story-title p {
    padding-top: 30%;
    font-size: 20px;
}

/*************
*** @MEDIA ***
*************/
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}